@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
  display: flex;
  flex-wrap: wrap;
  }

main{
  margin: 25px 5px;
  text-align: left;
  flex: 15 1 10px;
  overflow: auto;
  background-color: #ffffff;
  }

nav{
  margin: 50px 0 0 0;
  display: flex;  
  flex: 1 1 100vw;
  align-items: center;
  justify-content: flex-end;
  }
    
/*MENU SUSPENSO*/
nav a{
  text-decoration: none;
  margin: 5% 0 0 2%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(255, 255, 255);
  font-size: 9pt;
  border-radius: 15px;
  object-fit: contain;
  padding: 5px 50px;
  }

/*MAX-WIDHT + WIDTH = IMAGEM ACOMPANHA O EDIMENSINAMENTO*/
.banner{
  max-width: 928px;
  width: 100%;
  }

.imgmenu{
  width: 25px;
  color: white;
  align-items:flex-start;
  background: rgb(255, 255, 255);
  clip-path: circle();
}

header{
    height: auto;
    display: flex;
    flex: 1 1 100vw;
    background: #036;
    }

.links,.link_index{
  font-size: 8pt;
  text-decoration: none;
  color: white;
  }

#openMenu, #closeMenu{
    color: rgb(255, 255, 255);
    border: none;
    background: #036;
    font-size: 25px;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
    display: none;
    z-index:auto;
    }

.menuum{
  background: rgb(255, 255, 255);
  color: black;
  }

.redesocial0{
    position: relative;
    top: -75px;
    margin: 0 0 -33px 0 ;
    border: none;
    font-size: 8px;
    text-decoration: none;
    }

.redesocial{
  position: relative;
  top: -75px;
  margin: 5px 0 -35px 0 ;
  border: none;
  font-size: 8px;
  text-decoration: none;
}
.redesocial1{
  width: 30px;
  }

div, aside{
  font-size: 10px;
  color: white;
  text-align: center;
  background: #036;
  }
div{
    flex: 1 1 50px;
    }
aside{
  flex: 0.2 1 1px;
}
.efeitoum{
  margin: 5px 0;
  max-width: 90px;
  width: 50%;
  max-height: 60px;
  height: 40%;
  border: 2px solid #FF8000;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.5s;
  cursor: help;
  }
.efeitoum:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.5s);
  border: 2px solid red;
  border-radius: 50%;
  }
/*este efeito (efeito_scale) tras a imagem para frente ao passar o cursor sobre ela*/
.img_contato{
  border: 1px solid;
}
.efeitoum_contato{
  margin: 5px 0;
  width: 75px;
  height: 65px;
  border-radius: 25% 25%;
  object-fit: cover;
  }
.tam_img_index,.tam_img_index_dois,.efeitoum_contato{
  transition: all 0.5s;
  border: 2px solid rgb(251, 255, 1);
  cursor: pointer;
}
.link_index:hover,.tam_img_index:hover,.tam_img_index_dois:hover,.efeitoum_contato:hover{
  -webkit-transform: scale(0.5);
  transform: scale(1.2);
  border: 2px solid rgb(255, 3, 3);
  border-radius: 10%;
  }
  /*encerra aqui o efeito scale*/

.tam_img_index{
  float: right;
  width: 130px;
  height: 75px;
  margin: 5px ;
  }
.tam_img_index_dois,.efeito_index_tres{
  float: right;
  width: 130px;
  height: 70px;
  background-color: #DCDCDC;
  margin: 5px ;
}

  /*AQUI É A CONFIG, TEXTO*/
h1,h5, h2{
  margin: 10px 5px 10px;
  text-align: center;
  }

/*.public, h4{
  text-align: left;
 font-style: italic;
  }*/

/*main{
    margin: 25px 10px;
    text-align: justify;
    flex: 15 10;
    flex-wrap: wrap;
    overflow: auto;
    }*/

  /*BORDA DAS IMAGENS DO TEXTO*/
.equipeum{
  display: flex;
  max-width: 200px;
  width: 100%;
  float: left;
  margin: 20px 10px 0  0;
  border: 7px groove rgba(255, 251, 0, 0.7);
  border-radius: 0 10% 0 10%;
  }
.equipedois{
  display: flex;
  max-width: 200px;
  width: 100%;
  float: right;
  margin: 20px 5px 0 0;
  border: 7px ridge rgb(255, 0, 0, 0.7);
  border-radius: 10% 0 10%;
  }

/*paragrafos principais*/
p{
  flex: 10 1 100px;
  text-align: justify;
  text-indent: 20px;   
  margin: 20px 0 0 0
}
.pum{
    flex: 10 1 100px;
    text-align: justify;
    text-indent: 20px;   
    margin: 20px 0 0 0
    }
.pzero{
  flex: 10 1 100px;
  text-align: justify;
  text-indent: 20px;   
  margin: 15px 0 0 0;
}
.pdois{
  flex: 10 1 100px;
  text-align: justify;
  text-indent: 20px;
  margin: 20px auto 0 0;
}
figure{
  flex: 1 1 100px;
}
.text_historia_1{
  color: black;
  text-align: left;
  flex: 10 1 100px;
  margin: 25px 0 10px;
  }
.fonte{
  text-align: left;
  text-decoration: none;
  margin: 15px auto 0;
  color: rgb(28, 3, 252);
  font-size: 12px;
  font-style: italic;
}

.clear{clear:both}

main section{
    display: flex;
    text-align: justify;
    width: 100%;
    text-indent: 30px;
    }

footer {
  left: 0;
  bottom: 0;
  right: 0;
  background: #036;
  width: 100%;
  }
  
  footer section {
    padding: 5px 10px 10px ;
  }
  
  section.top img {
    display: flex;
    width: 130px;
    height: 110px;
    margin: 1px 0 30px;
  }
  
  section.top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  
section.top ul li a {
    display: block;
    margin-bottom: 10px;
    color: #dab40da1;
    text-decoration: none;
    font-size: 12px;
  }
  
  section.top h3 {
    color: rgba(255, 255, 255, 0.61);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 1px;
  }
  
  section.bottom {
    padding-top: 10px;
    border-top: 2px solid rgb(255 255 255 / 10%);
    color: #ffffff;
    font-size: 13px;
    text-align: right;
    font-style: italic;
  }

#menu a:hover{color: black; border: #ff6e19; background: #ff6e19;}
#menu a:last-child a{border: none;}

@media (width > 685px) {
  footer article button {
    width: 100%;
  }

  section.top ul {
    padding-right: 150%;
  }
}

@media (width > 685px) {
  section.top ul {
      grid-template-columns: repeat(5, 1fr);
      padding: 0 0 3px 20px;
      }
}  

@media only screen and (max-width: 874px) {
  header{
    order: 0;
    }
    div{
      flex: 1 1 500vh;
      order: 1;
      }
  main{
    order: 2;
      }
  aside{
      flex: 1 1 100vh;
      order: 3;
       }

  footer{
     flex: 1 1 100vh;
      order: 4;
      }
  .redesocial{
    order: 6;
  }
  .nav_links{
    order: 5;
 }
}

@media only screen and (max-width: 874px){
    #openMenu, #closeMenu{
        display: block;
    }

    #openMenu{
        margin-left: auto;
    }

    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: auto;
        background: #036;
        justify-content: right;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
        z-index: 1;
    }
    
}
