:root{
  --white: #fff;
  --gray: #363638;
  --gray-mid: #9d9d9d;
  --gray-dark: #3e3e3e;
  --gray-hover: #7F7F7F;
  --body-background: #1F192D;
  --primary: #42375d;
  --primary-border: #42375d;
  --text: #CEC0E0;
  --widget-background: #3A2D54;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body{
  background: var(--gray-dark);}
main{
  font-family: 'Courier New', Couriermonospace;
  justify-content: center;
  background-size: 85rem;
  background-repeat: no-repeat;
  }
.tabHead{
  text-align: center;
  font-size: 2.0rem;
  }
/* AQUI FOI FEITO O CARD*/
.tabs_head{
  flex-direction: column;
  gap: 50px;
  color: white;
  padding: 600px;
  max-width: auto;
  width: 100%;
  max-height: auto;
  height: 100%;
  margin: 10px;
  border-radius: 16px;
  background-color: var(--widget-background);
  border: 1px solid var(--primary-border);
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.45s ease-in-out;
  padding: 25px 50px;
  }
.tab_titulo{
  padding: .9em;
  text-decoration: none;
  background: var(--widget-background);
  color: rgb(255, 238, 1);
  font-size: 0.9rem;
  border: 2px solid;
  text-align: justify;
  overflow-y: auto;
  overflow-x: auto;
  height: 45px;
  transition: all 0.45s ease-in-out;
  }
.subtitulocontato{
  font-size: 1.5rem;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  color: red;
}
.tab_dados{
  margin: 0;
  padding: .9em;
  text-decoration: none;
  background: var(--widget-background);
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border: 2px solid;
  overflow-y: auto;
  overflow-x: auto;
  height: 25px;
  transition: all 0.45s ease-in-out;
  }
.redesocialcontato{
  margin: 0 3px;
  max-width: 15px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  text-align: justify;
  overflow-y: auto;
  overflow-x: auto;
  }

